.header{
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}


.headerContainer{
    width: 100%;
    max-width: 1023px;
    margin: 20px 0px 100px 0px;
}


.headerList{
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}


.headerlistItem{
    display: flex;
    align-items: center;
    gap: 10px;
}


.headingListItem.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}


.headerDesc{
    margin: 20px 0px;
}


.headerBtn{
    background-color: blue;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
}


.headerSearch{
    height: 30px;
    background-color: white;
    border: 3px solid yellow;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1023px;
}


.headerIcon{
    color: lightgray;
}


.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
}


.headerSearchInput{
    border: none;
    outline: none;
}


.headerSearchText{
    color: lightgray;
    cursor: pointer;
}


.date{
    position: absolute;
    top: 50px;
}


.options{
    position: absolute;
    top: 50px;
    background-color: white;
    color: grey;
    border-radius: 5px;
}


.optionItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}


.optionCounter{
    display: flex;
    align-items: center;
    gap: 10p;
    font-size: 12px;
    color: black;
}


.optionCounterButton{
    width: 30px;
    height: 30px;
    border: 1px solid blue;
    color: blue;
    cursor: pointer;
    background-color: white;
}